<div>
    <h2>
        <span jhiTranslate="gatewayApp.provider.home.title">Providers</span>
        <button class="btn btn-primary float-right jh-create-entity create-provider-setit-ui" [routerLink]="['/', { outlets: { popup: ['provider-setit-ui-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.provider.home.createLabel">
            Create new Provider
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.provider.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="providers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="gatewayApp.provider.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="serviceType"><span jhiTranslate="gatewayApp.provider.serviceType">Service Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="gatewayApp.provider.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phoneNumber"><span jhiTranslate="gatewayApp.provider.phoneNumber">Phone Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="unitPrice"><span jhiTranslate="gatewayApp.provider.unitPrice">Unit Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="unitFormat"><span jhiTranslate="gatewayApp.provider.unitFormat">Unit Format</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let provider of providers ;trackBy: trackId">
                <td><a [routerLink]="['../provider-setit-ui', provider.id ]">{{provider.id}}</a></td>
                <td>{{provider.name}}</td>
                <td jhiTranslate="{{'gatewayApp.ServiceType.' + provider.serviceType}}">{{provider.serviceType}}</td>
                <td>{{provider.email}}</td>
                <td>{{provider.phoneNumber}}</td>
                <td>{{provider.unitPrice}}</td>
                <td>{{provider.unitFormat}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../provider-setit-ui', provider.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'provider-setit-ui/'+ provider.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'provider-setit-ui/'+ provider.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
