<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProviderLabel" jhiTranslate="gatewayApp.provider.home.createOrEditLabel">Create or edit a Provider</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!provider.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="provider.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.provider.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="provider.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.provider.serviceType" for="field_serviceType">Service Type</label>
            <select class="form-control" name="serviceType" [(ngModel)]="provider.serviceType" id="field_serviceType" >
                <option value="WATER">{{'gatewayApp.ServiceType.WATER' | translate}}</option>
                <option value="GAS">{{'gatewayApp.ServiceType.GAS' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.provider.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="provider.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.provider.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                [(ngModel)]="provider.phoneNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.provider.unitPrice" for="field_unitPrice">Unit Price</label>
            <input type="number" class="form-control" name="unitPrice" id="field_unitPrice"
                [(ngModel)]="provider.unitPrice" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.provider.unitFormat" for="field_unitFormat">Unit Format</label>
            <input type="text" class="form-control" name="unitFormat" id="field_unitFormat"
                [(ngModel)]="provider.unitFormat" />
        </div>

        <div class="form-group">
            <label jhiTranslate="gatewayApp.provider.location" for="field_location">Location</label>
            <select class="form-control" id="field_location" multiple name="location" [(ngModel)]="provider.locations">
                <option [ngValue]="getSelected(provider.locations, locationOption)" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
