
<div *ngIf="provider">
    <h2><span jhiTranslate="gatewayApp.provider.detail.title">Provider</span> {{provider.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.provider.name">Name</span></dt>
        <dd>
            <span>{{provider.name}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.provider.serviceType">Service Type</span></dt>
        <dd>
            <span jhiTranslate="{{'gatewayApp.ServiceType.' + provider.serviceType}}">{{provider.serviceType}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.provider.email">Email</span></dt>
        <dd>
            <span>{{provider.email}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.provider.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{provider.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.provider.unitPrice">Unit Price</span></dt>
        <dd>
            <span>{{provider.unitPrice}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.provider.unitFormat">Unit Format</span></dt>
        <dd>
            <span>{{provider.unitFormat}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.provider.location">Location</span></dt>
        <dd>
            <span *ngFor="let location of provider.locations; let last = last">
                <a [routerLink]="['/location-setit-ui', location?.id ]">{{location.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'provider-setit-ui/'+ provider.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
