
<div *ngIf="client">
    <h2><span jhiTranslate="gatewayApp.client.detail.title">Client</span> {{client.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.client.name">Name</span></dt>
        <dd>
            <span>{{client.name}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.client.email">Email</span></dt>
        <dd>
            <span>{{client.email}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.client.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{client.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.client.paymentMethod">Payment Method</span></dt>
        <dd>
            <span jhiTranslate="{{'gatewayApp.PaymentMethod.' + client.paymentMethod}}">{{client.paymentMethod}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.client.submitMethod">Submit Method</span></dt>
        <dd>
            <span jhiTranslate="{{'gatewayApp.SubmitMethod.' + client.submitMethod}}">{{client.submitMethod}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-setit-ui/'+ client.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
