<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientLabel" jhiTranslate="gatewayApp.client.home.createOrEditLabel">Create or edit a Client</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!client.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="client.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.client.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="client.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.client.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="client.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.client.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                [(ngModel)]="client.phoneNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.client.paymentMethod" for="field_paymentMethod">Payment Method</label>
            <select class="form-control" name="paymentMethod" [(ngModel)]="client.paymentMethod" id="field_paymentMethod" >
                <option value="CASH">{{'gatewayApp.PaymentMethod.CASH' | translate}}</option>
                <option value="DEBIT">{{'gatewayApp.PaymentMethod.DEBIT' | translate}}</option>
                <option value="CREDIT">{{'gatewayApp.PaymentMethod.CREDIT' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.client.submitMethod" for="field_submitMethod">Submit Method</label>
            <select class="form-control" name="submitMethod" [(ngModel)]="client.submitMethod" id="field_submitMethod" >
                <option value="SMS">{{'gatewayApp.SubmitMethod.SMS' | translate}}</option>
                <option value="PUSH">{{'gatewayApp.SubmitMethod.PUSH' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
