<div>
    <h2>
        <span jhiTranslate="gatewayApp.clientOrder.home.title">Client Orders</span>
        <button class="btn btn-primary float-right jh-create-entity create-client-order-setit-ui" [routerLink]="['/', { outlets: { popup: ['client-order-setit-ui-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.clientOrder.home.createLabel">
            Create new Client Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.clientOrder.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientOrders">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.clientOrder.title">Title</span></th>
            <th><span jhiTranslate="gatewayApp.clientOrder.createDate">Create Date</span></th>
            <th><span jhiTranslate="gatewayApp.clientOrder.requestDate">Request Date</span></th>
            <th><span jhiTranslate="gatewayApp.clientOrder.fulfilmentDate">Fulfilment Date</span></th>
            <th><span jhiTranslate="gatewayApp.clientOrder.serviceType">Service Type</span></th>
            <th><span jhiTranslate="gatewayApp.clientOrder.quantity">Quantity</span></th>
            <th><span jhiTranslate="gatewayApp.clientOrder.totalPrice">Total Price</span></th>
            <th><span jhiTranslate="gatewayApp.clientOrder.status">Status</span></th>
            <th><span jhiTranslate="gatewayApp.clientOrder.provider">Provider</span></th>
            <th><span jhiTranslate="gatewayApp.clientOrder.address">Address</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clientOrder of clientOrders ;trackBy: trackId">
                <td><a [routerLink]="['../client-order-setit-ui', clientOrder.id ]">{{clientOrder.id}}</a></td>
                <td>{{clientOrder.title}}</td>
                <td>{{clientOrder.createDate | date:'mediumDate'}}</td>
                <td>{{clientOrder.requestDate | date:'mediumDate'}}</td>
                <td>{{clientOrder.fulfilmentDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'gatewayApp.ServiceType.' + clientOrder.serviceType}}">{{clientOrder.serviceType}}</td>
                <td>{{clientOrder.quantity}}</td>
                <td>{{clientOrder.totalPrice}}</td>
                <td jhiTranslate="{{'gatewayApp.OrderStatus.' + clientOrder.status}}">{{clientOrder.status}}</td>
                <td>
                    <div *ngIf="clientOrder.providerId">
                        <a [routerLink]="['../provider-setit-ui', clientOrder.providerId  ]" >{{clientOrder.providerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="clientOrder.addressId">
                        <a [routerLink]="['../address-setit-ui', clientOrder.addressId  ]" >{{clientOrder.addressId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client-order-setit-ui', clientOrder.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-order-setit-ui/'+ clientOrder.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-order-setit-ui/'+ clientOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
