<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientOrderLabel" jhiTranslate="gatewayApp.clientOrder.home.createOrEditLabel">Create or edit a Client Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clientOrder.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clientOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.clientOrder.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="clientOrder.title" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.clientOrder.createDate" for="field_createDate">Create Date</label>
            <div class="input-group">
                <input id="field_createDate" type="text" class="form-control" name="createDate" ngbDatepicker  #createDateDp="ngbDatepicker" [(ngModel)]="clientOrder.createDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="createDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.clientOrder.requestDate" for="field_requestDate">Request Date</label>
            <div class="input-group">
                <input id="field_requestDate" type="text" class="form-control" name="requestDate" ngbDatepicker  #requestDateDp="ngbDatepicker" [(ngModel)]="clientOrder.requestDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="requestDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.clientOrder.fulfilmentDate" for="field_fulfilmentDate">Fulfilment Date</label>
            <div class="input-group">
                <input id="field_fulfilmentDate" type="text" class="form-control" name="fulfilmentDate" ngbDatepicker  #fulfilmentDateDp="ngbDatepicker" [(ngModel)]="clientOrder.fulfilmentDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fulfilmentDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.clientOrder.serviceType" for="field_serviceType">Service Type</label>
            <select class="form-control" name="serviceType" [(ngModel)]="clientOrder.serviceType" id="field_serviceType" >
                <option value="WATER">{{'gatewayApp.ServiceType.WATER' | translate}}</option>
                <option value="GAS">{{'gatewayApp.ServiceType.GAS' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.clientOrder.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                [(ngModel)]="clientOrder.quantity" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.clientOrder.totalPrice" for="field_totalPrice">Total Price</label>
            <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                [(ngModel)]="clientOrder.totalPrice" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.clientOrder.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="clientOrder.status" id="field_status" >
                <option value="OPENED">{{'gatewayApp.OrderStatus.OPENED' | translate}}</option>
                <option value="RECEIVED">{{'gatewayApp.OrderStatus.RECEIVED' | translate}}</option>
                <option value="DELIVERING">{{'gatewayApp.OrderStatus.DELIVERING' | translate}}</option>
                <option value="COMPLETED">{{'gatewayApp.OrderStatus.COMPLETED' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.clientOrder.provider" for="field_provider">Provider</label>
            <select class="form-control" id="field_provider" name="provider" [(ngModel)]="clientOrder.providerId">
                <option [ngValue]="null"></option>
                <option [ngValue]="providerOption.id" *ngFor="let providerOption of providers; trackBy: trackProviderById">{{providerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.clientOrder.address" for="field_address">Address</label>
            <select class="form-control" id="field_address" name="address" [(ngModel)]="clientOrder.addressId">
                <option [ngValue]="null"></option>
                <option [ngValue]="addressOption.id" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
