
<div *ngIf="clientOrder">
    <h2><span jhiTranslate="gatewayApp.clientOrder.detail.title">Client Order</span> {{clientOrder.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.clientOrder.title">Title</span></dt>
        <dd>
            <span>{{clientOrder.title}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.clientOrder.createDate">Create Date</span></dt>
        <dd>
            <span>{{clientOrder.createDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.clientOrder.requestDate">Request Date</span></dt>
        <dd>
            <span>{{clientOrder.requestDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.clientOrder.fulfilmentDate">Fulfilment Date</span></dt>
        <dd>
            <span>{{clientOrder.fulfilmentDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.clientOrder.serviceType">Service Type</span></dt>
        <dd>
            <span jhiTranslate="{{'gatewayApp.ServiceType.' + clientOrder.serviceType}}">{{clientOrder.serviceType}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.clientOrder.quantity">Quantity</span></dt>
        <dd>
            <span>{{clientOrder.quantity}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.clientOrder.totalPrice">Total Price</span></dt>
        <dd>
            <span>{{clientOrder.totalPrice}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.clientOrder.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'gatewayApp.OrderStatus.' + clientOrder.status}}">{{clientOrder.status}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.clientOrder.provider">Provider</span></dt>
        <dd>
            <div *ngIf="clientOrder.providerId">
                <a [routerLink]="['/provider-setit-ui', clientOrder.providerId]">{{clientOrder.providerId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.clientOrder.address">Address</span></dt>
        <dd>
            <div *ngIf="clientOrder.addressId">
                <a [routerLink]="['/address-setit-ui', clientOrder.addressId]">{{clientOrder.addressId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-order-setit-ui/'+ clientOrder.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
