
<div *ngIf="rating">
    <h2><span jhiTranslate="gatewayApp.rating.detail.title">Rating</span> {{rating.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.rating.value">Value</span></dt>
        <dd>
            <span>{{rating.value}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.rating.comments">Comments</span></dt>
        <dd>
            <span>{{rating.comments}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.rating.clientOrder">Client Order</span></dt>
        <dd>
            <div *ngIf="rating.clientOrderId">
                <a [routerLink]="['/client-order-setit-ui', rating.clientOrderId]">{{rating.clientOrderId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rating-setit-ui/'+ rating.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
