<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRatingLabel" jhiTranslate="gatewayApp.rating.home.createOrEditLabel">Create or edit a Rating</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rating.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="rating.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.rating.value" for="field_value">Value</label>
            <input type="number" class="form-control" name="value" id="field_value"
                [(ngModel)]="rating.value" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.rating.comments" for="field_comments">Comments</label>
            <input type="text" class="form-control" name="comments" id="field_comments"
                [(ngModel)]="rating.comments" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.rating.clientOrder" for="field_clientOrder">Client Order</label>
            <select class="form-control" id="field_clientOrder" name="clientOrder" [(ngModel)]="rating.clientOrderId">
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOrderOption.id" *ngFor="let clientOrderOption of clientorders; trackBy: trackClientOrderById">{{clientOrderOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
