
<div *ngIf="location">
    <h2><span jhiTranslate="gatewayApp.location.detail.title">Location</span> {{location.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.location.name">Name</span></dt>
        <dd>
            <span>{{location.name}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.location.postalCode" [ngbTooltip]="'gatewayApp.location.help.postalCode' | translate">Postal Code</span></dt>
        <dd>
            <span>{{location.postalCode}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.location.region">Region</span></dt>
        <dd>
            <div *ngIf="location.regionId">
                <a [routerLink]="['/region-setit-ui', location.regionId]">{{location.regionId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'location-setit-ui/'+ location.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
