
<div *ngIf="address">
    <h2><span jhiTranslate="gatewayApp.address.detail.title">Address</span> {{address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.address.value">Value</span></dt>
        <dd>
            <span>{{address.value}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.address.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'gatewayApp.AddressType.' + address.type}}">{{address.type}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.address.info">Info</span></dt>
        <dd>
            <span>{{address.info}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.address.client">Client</span></dt>
        <dd>
            <div *ngIf="address.clientId">
                <a [routerLink]="['/client-setit-ui', address.clientId]">{{address.clientId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address-setit-ui/'+ address.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
